.logo a {
    font-size: 22px;
    color: red;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

.header-area {
    background: #fd8e40;
    position: relative;
    z-index: 9999;
    height: 60px;
}

body{
overflow-x: hidden;
}

.task-table{
  float: right;
  width: 84.4%;
}

.bg-light{
  background: lightslategrey
}

.welcome-user{
  margin-left: 15%;
}


.btn-info{
  width: 24px;
  height: 24px;
  float: right;
}

.dropdown-toggle:empty::after {
    margin-left: -4px;
    margin-bottom: 7px;
}

.btn-verwijder{
    border: none;
    background-color: white;
    width: 100%;
    padding-right: 16px;
}

.list_title{
  left: 500px;
  top: 12px;
  position: absolute;
}

.add-task{
  position: absolute;
    right: 15px;
    top: 15px;
}

.dropdown-menu {

    min-width: 6rem;
}

.icon{
  margin-left: 8px;
}


.btn-verwijder {
    border: none;
    background-color: white;
    width: 89%;
    padding-right: 16px;
    color: #007bff;
}
